@model MVC_Layout.Models.Entity.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

   
    
}

<h1>Details</h1>

@{
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="@Model.ImagePath" alt="product">
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">@Model.ProductName</h5>
                    <!-- Product price-->
                    @Model.UnitPrice
                </div>
                <div class="text-center">
                  
                  
                </div>
            </div>
            <!-- Product actions-->
         
        </div>
    </div>
}